.wrapper {
  min-height: 70vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-wrap {
  align-items: space-between;
}

a {
  text-decoration: none;
}

.home-link {
  text-decoration: none;
}

